body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 30, 45, 1) 67%,
    #3a0ca3 100%
  );
  font-family: "Open Sans";
}

.div {
  display: flex;
}

.contactbox {
  display: flex;
  justify-content: space-evenly;
}

.containerbox {
  display: flex;
}

.contactForm {
  display: flex;
}

@media screen and (max-width: 900px) {
  .contactbox {
    display: flex;
    flex-direction: column-reverse;
  }
}
