body {
  background: rgba(16, 30, 45, 1);
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fefefe;
  max-width: 127vh;
  padding-bottom: 4vh;
}

.quiz-header {
  background-image: url("@assets/img/header-quizz.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 65vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fefefe;
}

.scores-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #0d1b2a;
}

h2 {
  font-size: 2.3rem;
  text-align: center;
  font-weight: 900;
  color: #000;
  max-width: 127vh;
  margin-top: 5vh;
  color: #fefefe;
}

.project {
  background-color: #fefefe;
  max-width: 100%;
  height: auto;
}

.project h3 {
  padding-top: 5vh;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  color: black;
  margin-top: 2rem;
}

.project-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 5vh;
  background: #fefefe;
}

.project-description {
  max-width: 40%;
  text-align: justify;
  padding-right: 5vh;
}

.logo {
  height: 50%;
  width: 50%;
}

.logo-wild {
  height: 25%;
  width: 25%;
}

@media (max-width: 480px) {
  .project-content {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
    padding-left: 1vh;
    padding-right: 1vh;
    text-align: center;
  }

  .project-description {
    max-width: 100%;
    padding-right: 0;
  }
  .logo {
    height: 80%;
    width: 80%;
    margin-top: 6vh;
  }
  .logo-wild {
    padding-top: 3vh;
    height: 60%;
    width: 60%;
  }
}
