.container h1 {
  white-space: nowrap;
}

.container {
  display: flex;
  color: #fefefe;
  margin-top: 10vmin;
  line-height: 2.2em;
  font-size: 1.3em;
  margin-bottom: 10vmin;
}

.container input {
  padding: 15px 50px;
  border-radius: 4vmin;
  box-shadow: 0px 4px 4px #f72585;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  font-size: 1em;
}

.container textarea {
  padding: 15px 50px;
  border-radius: 4vmin;
  box-shadow: 0px 4px 4px #f72585;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  font-size: 1em;
}

.img-alien {
  display: flex;
  height: 100px;
  width: 100px;
  position: relative;
}

.buttonSubmit {
  position: relative;
  width: 7em;
  height: 3.5em;
  background: #f72585;
  box-shadow: 0px 2px 2px #fefefe;
  border-radius: 15px;
  color: white;
  font-size: 1em;
  margin-top: 10%;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    white-space: pre-wrap;
    color: #fefefe;
    align-items: center;
    box-shadow: none;
    padding: 10%;
    margin-top: 0vmin;
  }

  .container h1 {
    white-space: nowrap;
    font-size: 1.5em;
    text-align: center;
  }

  .img-alien {
    display: none;
  }

  .container h1 {
    white-space: nowrap;
  }

  .buttonSubmit {
    background: #f72585;
    box-shadow: none;
    border-radius: 15px;
    color: #fefefe;
  }
}
