.containerUs .contactUs {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #f4c8dc, -5px -5px 10px #f4c8dc;
  border-radius: 40px;
  font-family: "Open Sans";
  color: #fefefe;
  margin-top: 15vmin;
  margin-bottom: 15vmin;
  max-width: 400px;
  text-align: center;
  padding: 5%;
}

.containerUs .contactUs p {
  display: flex;
  font-size: 1.4em;
}

@media screen and (max-width: 900px) {
  .containerUs .contactUs {
    display: flex;
    flex-direction: column;
    color: #fefefe;
    box-shadow: none;
    margin-bottom: 0vmin;
    margin-top: 20vmin;
  }

  .containerUs {
    display: flex;
    box-shadow: none;
  }
}
